body {
    font-family: sans-serif;
  }
  
  /* .search-bar input {
    border: round;
    border-radius:25px;
    box-shadow: 0px 0px 5px 0px rgba(42,42,42,.43);
    padding: 5px;
    text-align: left;
    width: 50%;
    max-width: 600px;
} */
  
  /* .no-suggestions {
    color: #999;
    padding: 0.5rem;
  }
  
  .suggestions {
    border: 1px solid #999;
    border-top-width: 0;
    list-style: none;
    margin-top: 0;
    max-height: 143px;
    overflow-y: auto;
    padding-left: 0;
    width: calc(300px + 1rem);
  }
  
  .suggestions li {
    padding: 0.5rem;
  }
  
  .suggestion-active,
  .suggestions li:hover {
    background-color: #008f68;
    color: #fae042;
    cursor: pointer;
    font-weight: 700;
  }
  
  .suggestions li:not(:last-of-type) {
    border-bottom: 1px solid #999;
  } */