.user-card {
    display: flex;
    /* border-bottom: 1px #ccc dashed; */
    box-shadow: 0 10px 20px -15px rgba(0, 0, 0, .4);
    cursor: pointer;
    padding: 20px 10px 10px 10px;
    /* border-radius: 2%;  */
}

.user-card img {
    width: 6em;
    display: table-cell;
    vertical-align: middle;
    border-radius: 46px;
}