.search-bar input {
    border: round;
    border-radius:25px;
    box-shadow: 0px 0px 5px 0px rgba(42,42,42,.43);
    padding: 5px;
    text-align: left;
    min-width: 60%;
}

.user-card {
    display: flex;
    padding: 10px;
    border-radius:25px;

}

.suggestions {
    border: 1px solid;
    border-radius:5px;
    width: 60%;
    text-align: center;
    position: relative;
    display: inline-block;
}

.user-name {
    padding-left: 20px
}

.user-card img {
    width: 6em;
    display: table-cell;
    vertical-align: middle;
}
