.search-bar {
    height: 100vh;
}

.search-bar input {
    border: round;
    border-radius:25px;
    box-shadow: 0px 0px 5px 0px rgba(42,42,42,.43);
    min-width: 60%;
    padding: 5px;
    text-align: left;
    user-select: none;
}

.search-bar input:focus {
    outline-width: 0;
}

.suggestions {
    border: 1px solid;
    border-radius:5px;
    display: inline-block;
    text-align: center;
    position: relative;
    width: 60%;
}

.user-name {
    padding-left: 20px
}

@media (max-width: 1024px) {
    .search-bar input {
      width: 100%;
    }
  }
