.App {
  text-align: center;
  position: relative;
  display: block;
  height: 100vh;
}

.App-logo {
  max-height: 9vh;
  max-width: 100%;
  position: center;
  flex: 0 0 65%;
}

.App-text {
  flex: 1;
}

.App-header {
  background-color: #669b29;
  height: 10vh;
  max-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.search-wrapper {
  /* background-color: blue; */
  padding: 5vh;
}

.content-wrapper {
  background-color: #e8f3db;
  height: 100%;
  margin: 2% 15%;
}

.App-link {
  color: #09d3ac;
}

body {
  /* border: 2px dashed; */
  /* margin: 5% 5% */
}

@media (max-width: 1024px) {
  .content-wrapper {
    margin: 5%;
  }
}